<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="gcccssubjectsadvising" version="1.2.0" versionCode="15">
	<script id="gcccssubjectsadvising"/>
		<name>GC CCS ADVISING</name>
		<description>Application for students of Gordon College CCS</description>
		<author>Ashbee Morgado</author>
		
		<gap:platforms>
			<gap:platform name="ios"/>
			<gap:platform name="android"/>
			<gap:platform name="webos"/>
			<gap:platform name="symbian.wrt"/>
			<gap:platform name="blackberry" project="widgets"/>
		</gap:platforms>
	<platform name="android">
              <icon src="icons/ldpi.png" density="ldpi" />
              <icon src="icons/mdpi.png" density="mdpi" />
              <icon src="icons/hdpi.png" density="hdpi" />
              <icon src="icons/xhdpi.png" density="xhdpi" />
     </platform>
		<gap:plugin name="org.apache.cordova.media"/>
		

		<preference name="phonegap-version" value="3.6.3"/>
		<feature name="http://api.phonegap.com/1.0/device"/>
		<feature name="http://api.phonegap.com/1.0/media"/>
		<access origin="*" subdomains="true"/>
		<access uri="*" subdomains="true"/>
		<access uri="http://google.com" subdomains="true"/>
		<feature name="http://api.phonegap.com/1.0/network"/>
		
		<feature name="InAppBrowser">
			<param name="android-package" value="org.apache.cordova.InAppBrowser"/>
		</feature>

		<feature name="Media">
			<param name="android-package" value="org.apache.cordova.media.AudioHandler"/>
		</feature>

		<preference name="orientation" value="auto"/>
		<preference name="fullscreen" value="true"/>
		<preference name="target-device" value="universal"/>
</widget>